<div class="col-md-4" *ngFor="let obra of obras">
    <div class="card text-center">
    <div class="card-header">
        {{obra.nombre}}
        Calle: {{obra.calle}} {{obra.altura}}
        <p *ngFor =" let empleado of empleados">
            {{empleado.nombre}}, {{empleado.apellido}}
        </p>
    </div>
    <div class="card-body">

        <div>
            <input (change)="capturarFile($event)" type="file">
        </div>
        <div>
            <button type="button">
                Subir archivo
            </button>
        </div>
        <div *ngIf="previsualizacion">
            <img width="100px" [src]="previsualizacion" alt="">
        </div>
    </div>
