
<div class="col-md-4 offset-md-4">
<div class="card">
    <div class="card-body">
        <form action="">
            <div class="form-group">
                <input type="text" name="nombre" [(ngModel)]="empleado.nombre"  placeholder="Nombre" class="form-control" autofocus >

            </div>
            <div class="form-group">
                <input type="text" name="apellido" [(ngModel)]="empleado.apellido"  placeholder="Apellido" class="form-control" autofocus >

            </div>
            <div class="form-group">
                <input type="text" name="dni" [(ngModel)]="empleado.dni"  placeholder="DNI" class="form-control" autofocus >

            </div>
            <div class="form-group">
                <input type="text" name="legajo" [(ngModel)]="empleado.legajo" placeholder="Legajo" class="form-control" autofocus >

            </div>
            <div class="form-group">
                <input type="text" name="mail"  [(ngModel)]="empleado.mail" placeholder="Mail" class="form-control" autofocus >

            </div>
            <div class="form-group">
                <input type="text" name="telefono"  [(ngModel)]="empleado.telefono" placeholder="Telefono" class="form-control" autofocus >

            </div>
            <button class="btn btn-success btn-block" (click)="guardarEmpleado()">
                Guardar
            </button>
        </form>

    </div>

</div>
</div>
