<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/InicioSesion">GugnerBuilding</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/CreaEmpleados">Crear empleado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ListaEmpleados">Listar empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/CrearObra">Crear Obra</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Blabla</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  
<div class="col-md-4 offset-md-4">
<div class="card">
    <div class="card-body">
        <form action="">
            <div class="form-group">
              Nombre
                <input type="text" name="nombre" [(ngModel)]="empleado.nombre"  placeholder="Nombre" class="form-control" autofocus >

            </div>
            <div class="form-group">
              Apellido
                <input type="text" name="apellido" [(ngModel)]="empleado.apellido"  placeholder="Apellido" class="form-control" autofocus >

            </div>
            <div class="form-group">
              DNI
                <input type="text" name="dni" pattern="[0-9]{9}" [(ngModel)]="empleado.dni"  placeholder="DNI" class="form-control" autofocus >

            </div>
            <div class="form-group">
              Legajo
                <input type="text" name="legajo" [(ngModel)]="empleado.legajo" placeholder="Legajo" class="form-control" autofocus >

            </div>
            <div class="form-group">
              Mail
                <input type="text" name="mail"  [(ngModel)]="empleado.mail" placeholder="Mail" class="form-control" autofocus >

            </div>
            <div class="form-group">
              Telefono
                <input type="text" name="telefono"  [(ngModel)]="empleado.telefono" placeholder="Telefono" class="form-control" autofocus >

            </div>
            <button class="btn btn-success btn-block" (click)="guardarEmpleado()">
                Guardar
            </button>
        </form>

    </div>

</div>
</div>
