
<nav class="navbar navbar-expand-lg navbar-light bg-light"style="width: 100%;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/vistaEncargados">GugnerBuilding</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
<div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col " *ngFor="let obra of obras">
      <div class="card h-60">
        <img src="./../../../assets/plano.jpg" class="card-img-top" alt="...">
        <div class="card-body" style="height: 20%;">
          <h5 class="card-title" >{{obra.nombre}}</h5>
          <p class="card-text">Calle: {{obra.calle}} N°{{obra.altura}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted" style="text-align: center;">
           
          <button (click)="verMas(obra.id)">Ver Más</button>
          </small>
        </div>
      </div>
  
    </div>
  
  
  
  </div>

</div>