
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/InicioSesion">GugnerBuilding</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/CreaEmpleados">Crear empleado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ListaEmpleados">Listar empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/CrearObra">Crear Obra</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <div style="margin-top: 3%; margin-left: 28%; width: 115%;">
<div class="col-md-4" *ngFor="let obra of obras">
    <div class="card text-center">
    <div class="card-header">
        {{obra.nombre}}
        {{obra.altura}}
    </div>
    <div class="card-body">

    </div>
</div>
</div>
</div>