
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/InicioSesion">GugnerBuilding</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" style="margin-right: 0%;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/CreaEmpleados">Crear empleado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ListaEmpleados">Listar empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/CrearObra">Crear Obra</a>
          </li>

        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Cerrar Sesion</a>
          </li>
        </ul>
        
      </div>
    
    </div>
  </nav>
  <div class="col-md-3"  >
    <a class="btn-sm btn-success" role="button" aria-disabled="true" href="javascript:history.back()" >Volver</a>

  </div>
  <div>
<!--<div class="col-md-4" *ngFor="let obra of obras">
    <div class="card text-center">
      <div class="card-header">
        {{obra.nombre}}
        Calle: {{obra.calle}} {{obra.altura}}
        <button (click)="eliminarObra(obra.id)">Eliminar</button>
        <button (click)="verMas(obra.id)">Editar</button>
      </div>
  
     </div>
</div> -->


  <!--  <div class="body-card" >
      <div class="card-deck">
        <div class="card" >
          <img class="card-img-top img fluid" src="./../../../assets/plano.jpg" alt="Card image cap" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Obra</h5>
            <p class="card-text">Calle</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">editar eliminar</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./../../../assets/plano.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Obra</h5>
            <p class="card-text">calle</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">editar eliminar </small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./../../../assets/plano.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Calle</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Editar Eliminar</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./../../../assets/plano.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Calle</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Editar Eliminar</small>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="./../../../assets/plano.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Calle</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Editar Eliminar</small>
          </div>
        </div>-->
   
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col " *ngFor="let obra of obras">
    <div class="card h-60">
      <img src="./../../../assets/plano.jpg" class="card-img-top" alt="...">
      <div class="card-body" style="height: 20%;">
        <h5 class="card-title" >{{obra.nombre}}</h5>
        <p class="card-text">Calle: {{obra.calle}} N°{{obra.altura}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted" style="text-align: center;">
          <button (click)="eliminarObra(obra.id)">Eliminar</button>
        <button (click)="verMas(obra.id)">Editar</button>
        </small>
      </div>
    </div>
    
  </div>
  
  
  
</div>


</div>