.container{
    margin-top: 8%;
}
.col-md-4 {

    margin-left: 35%;
    margin-top: 0.5%;
}

.col-md-3{
    margin-left: 6%;
    margin-top: 3%;
    float: left;
}



.img-card{
     width: 25% ; 
     height: 25%;
      margin-left: 75%; 
      margin-top: -60px;
}

.card {
   box-sizing: content-box;
   width: 80%;
   
}

.row row-cols-md-3{
    margin-top: 20%;
    height:75%;
    width: 75%;
    
}

.col{
    width: 50rem;
}