
<nav class="navbar navbar-expand-lg navbar-light bg-light"style="width: 100%;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/InicioSesion">GugnerBuilding</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="/CreaEmpleados">Crear empleado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/ListaEmpleados">Listar empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/CrearObra">Crear Obra</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="col-md-3" >
    <a class="btn-sm btn-success" role="button" aria-disabled="true" href="javascript:history.back()" >Volver</a>
 </div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <form #obraForm="ngForm" action="">
                <div class="form-group">
                  Nombre
                    <input type="text" name="nombre" [(ngModel)]="obra.nombre"  placeholder="Nombre" class="form-control" autofocus required #nombre="ngModel" >
    
                </div>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                   
                  El campo Nombre es Obligatorio
                
                </div>
                <div class="form-group">
                  Calle
                  <input type="text" name="calle" [(ngModel)]="obra.calle"  placeholder="Calle" class="form-control" autofocus required #calle="ngModel" >
                </div>
                <div *ngIf="calle.invalid && (calle.dirty || calle.touched)" class="alert alert-danger">
                   
                  El campo Calle es Obligatorio
                
                </div>
                <div class="form-group">
                  Altura
                    <input type="number" name="altura" [(ngModel)]="obra.altura"  placeholder="Altura" class="form-control" autofocus required #altura="ngModel" >
    
                </div>
                <div *ngIf="altura.invalid && (altura.dirty || altura.touched)" class="alert alert-danger">
                   
                  El campo Altura es Obligatorio
                
                </div>
                <!-- <div class="form-group">
                    <input type="text" name="provincia" [(ngModel)]="obra.provincia"  placeholder="Provincia" class="form-control" autofocus >
    
                </div>
                <div class="form-group">
                    <input type="text" name="Localidad" [(ngModel)]="obra.localidad" placeholder="Localidad" class="form-control" autofocus >
    
                </div> -->
                <div class="form-group">
                    Provincia
                    <select  name="provincia" id="provincia" [(ngModel)]="obra.provincia" placeholder="Provincia" (change)="capturar()" required #provincia="ngModel">
                        <option value="0" >Selecciona una opción</option>
                        <option *ngFor = "let dato of datos">{{dato}}</option>
                      
                    </select>
                </div>
                <div *ngIf="provincia.invalid && (provincia.dirty || provincia.touched)" class="alert alert-danger">
                   
                  El campo Provincia es Obligatorio
                
                </div>
                <div class="form-group">
                  Localidad
                  <select  name="localidad" id="localidad" [(ngModel)]="obra.localidad" placeholder="Localidad" (change)="capturarLocalidad()" required #localidad="ngModel">
                      <option value="0" >Selecciona una opción</option>
                      <option *ngFor = "let provincia of provincias">{{provincia}}</option>
                    
                  </select>
              </div>
              <div *ngIf="localidad.invalid && (localidad.dirty || localidad.touched)" class="alert alert-danger">
                   
                El campo Localidad es Obligatorio
              
              </div>
              Fecha de inicio 
                <div class="form-group">
                    <input type="date" name="fechaInicio"  [(ngModel)]="obra.fechaInicio" placeholder="Fecha de Inicio" class="form-control" autofocus required #fechaInicio="ngModel">
    
                </div>
                <div *ngIf="fechaInicio.invalid && (fechaInicio.dirty || fechaInicio.touched)" class="alert alert-danger">
                   
                  El campo Fecha de Inicio es Obligatorio
                
                </div>

                <div class="form-group">
                  Empleados
                  <select (change)="empleadoSeteado($event)" required >
                      <option value="0" >Selecciona una opcion</option>
                      <option *ngFor = "let e of empleados;index as i" [value]="i">{{e.nombre}} {{e.apellido}}</option>
                  </select>
                  
                  <button class="btn btn-success ml-2" (click)="agregarEmpleado()">
                    Agregar
                </button>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let ea of empleadosAgregados;index as i">
                    <td>{{ea.nombre}}</td>
                    <td>{{ea.apellido}}</td>
                  </tr>
                </tbody>
              </table>
                <button type="submit" class="btn btn-success btn-block" [disabled]="obraForm.form.invalid" (click)="guardarObra()">
                    Guardar
                </button>

              
            </form>
    
     
    
    </div>
    </div>
</div>

    