
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/InicioSesion">GugnerBuilding</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/CreaEmpleados">Crear empleado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ListaEmpleados">Listar empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/CrearObra">Crear Obra</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Blabla</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="margin-top: 3%; margin-left: 28%; width: 115%;"></div>
<div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="form-group">
                  Nombre
                    <input type="text" name="nombre" [(ngModel)]="obra.nombre"  placeholder="Nombre" class="form-control" autofocus >
    
                </div>
                <div class="form-group">
                  Calle
                  <input type="text" name="calle" [(ngModel)]="obra.calle"  placeholder="Calle" class="form-control" autofocus >
  
              </div>
                <div class="form-group">
                  Altura
                    <input type="text" name="altura" [(ngModel)]="obra.altura"  placeholder="Altura" class="form-control" autofocus >
    
                </div>
                <!-- <div class="form-group">
                    <input type="text" name="provincia" [(ngModel)]="obra.provincia"  placeholder="Provincia" class="form-control" autofocus >
    
                </div>
                <div class="form-group">
                    <input type="text" name="Localidad" [(ngModel)]="obra.localidad" placeholder="Localidad" class="form-control" autofocus >
    
                </div> -->
                <div class="form-group">
                    Provincia
                    <select  name="provincia" id="provincia" [(ngModel)]="obra.provincia" placeholder="provincia" (change)="capturar()">
                        <option value="0" >Selecciona una opcion</option>
                        <option *ngFor = "let dato of datos">{{dato}}</option>
                      
                    </select>
                </div>
                <div class="form-group">
                  Localidad
                  <select  name="provincia" id="provincia" [(ngModel)]="obra.localidad" placeholder="provincia" (change)="capturarLocalidad()">
                      <option value="0" >Selecciona una opcion</option>
                      <option *ngFor = "let provincia of provincias">{{provincia}}</option>
                    
                  </select>
              </div>
              Fecha de inicio (AAAA/MM/DD)
                <div class="form-group">
                    <input type="text" name="FechaInicio"  [(ngModel)]="obra.fechaInicio" placeholder="Fecha de Inicio" class="form-control" autofocus >
    
                </div>
                <button class="btn btn-success btn-block" (click)="guardarObra()">
                    Guardar
                </button>
            </form>
    
     
    
    </div>
    </div>
</div>

    