
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">GugnerBuilding</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/CreaEmpleados">Crear empleado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ListaEmpleados">Listar empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/CrearObra">Crear Obra</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Blabla</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="col-md-4" *ngFor="let empleado of empleados">
    <div class="card text-center">
    <div class="card-header">
        {{empleado.nombre}},{{empleado.apellido}},{{empleado.legajo}}
        <button (click)="eliminarEmpleado(empleado.id)">Eliminar</button>
    </div>
    <div class="card-body">

    </div>
</div>
</div>